@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 500;
  src: url('SpoqaHanSansNeo-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 700;
  src: url('SpoqaHanSansNeo-Bold.ttf') format('truetype');
}
